<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-featured-image {"isLink":true} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"space-between"}} -->
<div class="wp-block-group"><!-- wp:heading {"level":3} -->
<h3 class="wp-block-heading">Price</h3>
<!-- /wp:heading -->

<!-- wp:kadence/advancedheading {"uniqueID":"eatery-amandeep__single-side_8a56bf-64","markBorder":"","markBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"tabletMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"mobileMarkBorderStyles":[{"top":[null,"",""],"right":[null,"",""],"bottom":[null,"",""],"left":[null,"",""],"unit":"px"}],"htmlTag":"p","metadata":{"name":"Price Value"}} -->
<p class="kt-adv-headingeatery-amandeep__single-side_8a56bf-64 wp-block-kadence-advancedheading" data-kb-block="kb-adv-headingeatery-amandeep__single-side_8a56bf-64"><span data-field="post|post_custom_field" data-para="acf_meta|price" data-showall="true" class="kb-inline-dynamic">No Content</span></p>
<!-- /wp:kadence/advancedheading --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:kadence/advancedbtn {"uniqueID":"eatery-amandeep__single-side_1b117a-53"} -->
<div class="wp-block-kadence-advancedbtn kb-buttons-wrap kb-btnseatery-amandeep__single-side_1b117a-53"><!-- wp:kadence/singlebtn {"uniqueID":"eatery-amandeep__single-side_15bc2e-15","text":"Read More","link":"[kb-dynamic field='post|post_custom_field' para='acf_meta|post_link' type='url']","kadenceDynamic":{"link":{"enable":true,"source":"","field":"post|post_custom_field","custom":"","para":"acf_meta|post_link","before":"","after":"","fallback":"","showAll":true}}} /--></div>
<!-- /wp:kadence/advancedbtn -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->